/* body {
  min-height: 2000px;
} */
.jumbotron {
  padding-top: 7rem;
  background-image: url(img/1.jpg);

  padding-bottom: 3rem;
}

#about {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#education {
  padding-top: 4rem;
  background-color: rgb(3, 19, 90);
  padding-bottom: 2rem;
}

#experience {
  padding-top: 4rem;
  /*background-color: rgb(3, 19, 90);*/
  padding-bottom: 3rem;
}

#achievements {
  padding-top: 4rem;
  background-color: rgb(3, 19, 90);
  padding-bottom: 3rem;
}

#training {
  padding-top: 4rem;
  /*background-color: rgb(3, 19, 90);*/
  padding-bottom: 3rem;
}

.isi {
  padding-top: 2rem;
  background-color: #fff;
}

#contact {
  padding-top: 4rem;
  background-color: rgb(3, 19, 90);
  padding-bottom: 3rem;
}
